.header {
  background-color: #0a0a3c;
}

.elipse {
  margin-top: 4px;
  margin-left: 24px;
  margin-right: 4px;
}

.logo {
  margin-top: 16px;
}
.spacer {
  margin-right: 80em;
}
.header-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.page-name {
  background: #d9d9d9;
  height: 80px;
  padding-top: 5em;
}

.text {
  font-family: "Koh Santepheap";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 18px;
  text-align: right;
  color: #000000;
  margin-left: 5em;
  margin-top: 8em;
}

.container {
  margin-left: 22em;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}
.footer {
  bottom: 0;
  background-color: #0a0a3c;
  padding: 20px;
  width: 100%;
  margin-top: 10em;
}

.footer p {
  font-family: "Koh Santepheap";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: #ffffff;
}

.row {
  display: flex;
}

.title {
  font-family: "Koh Santepheap";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: #377dc0;
}

.line {
  border: 2px solid #eef3f7;
  width: 80%;
  height: 0%;
  margin-top: 1em;
  margin-bottom: 2em;
}

.radio-button {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #377dc0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.radio-button:checked {
  background: #ffffff;
  border: 7px solid #377dc0;
}

.radio-label {
  font-family: "Koh Santepheap";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  margin-top: 4px;
  color: #000000;
}
