<div>
  <mat-toolbar ngClass="header">
    <div class="logo">
      <img src="../../../assets/logo.svg" />
    </div>
    <span class="spacer"></span>
    <button mat-icon-button [routerLink]="['']">
      <span class="header-title">Lista</span>
    </button>
    <div class="elipse">
      <img src="../../../assets/elipse.svg" />
    </div>
    <button mat-icon-button [routerLink]="['register']">
      <span class="header-title">Cadastro</span>
    </button>
  </mat-toolbar>

  <div class="page-name">
    <label class="text">Cadastro</label>
  </div>

  <div class="container">
    <label class="input-label">Nome do cliente</label>
    <input class="input" placeholder="Digite seu nome" />
    <label class="input-label">E-mail</label>
    <input class="input" placeholder="Digite seu melhor e-mail" />
    <label class="input-label">CPF</label>
    <input class="input" placeholder="Digite seu CPF aqui" />

    <div class="row">
      <div class="input-container">
        <label class="input-label">Endereço</label>
        <input class="input" placeholder="Digite endereço" />
      </div>
      <div class="input-container" style="margin-left: -16%">
        <label class="input-label">Estado</label>
        <select class="input" placeholder="Selecione o estado"></select>
      </div>
    </div>

    <div class="row">
      <div class="input-container">
        <label class="input-label">CEP</label>
        <input class="input" placeholder="00.000-000" />
      </div>
      <div class="input-container" style="margin-left: -16%">
        <label class="input-label">Cidade</label>
        <select class="input" placeholder="Selecione a cidade"></select>
      </div>
    </div>
  </div>

  <div class="container">
    <label class="title">Forma de pagamento</label><br />
    <div class="line"></div>
    <div class="row">
      <div class="row">
        <input type="radio" class="radio-button" />
        <label class="radio-label">Cartão de crédito</label>
      </div>
      <div class="row" style="margin-left: 20%">
        <input type="radio" class="radio-button" />
        <label class="radio-label">Boleto Bancário</label>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="input-container">
        <label class="input-label">Nome do cartão</label>
        <input class="input" placeholder="Nome impresso no cartão" />
      </div>
      <div class="input-container" style="margin-left: -16%">
        <label class="input-label">Data de expiração</label>
        <div class="row" style="width: 65%">
          <select
            class="input"
            placeholder="Mês"
            style="width: 65%; margin-right: 8%"
          >
            <option>Mês</option>
          </select>
          <select class="input" placeholder="Ano">
            <option>Ano</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-container">
        <label class="input-label">Número do cartão</label>
        <input class="input" placeholder="0000 0000 0000 0000" />
      </div>
      <div class="input-container" style="margin-left: -16%">
        <label class="input-label">Código de segurança</label>
        <select class="input" placeholder="XXX"></select>
      </div>
    </div>

    <div class="line"></div>

    <div>
      <label class="input-label">Seu cartão será debitado em R$ 49,00</label>
      <button class="confirm-button">REALIZAR MATRÍCULA</button>
      <p>Informações seguras e criptografadas</p>
    </div>
  </div>

  <footer class="footer">
    <p>Lucas Vilas Boas - 2023</p>
  </footer>
</div>
